<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Gallery</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores obcaecati quisquam quam distinctio, rerum totam cupiditate architecto laboriosam soluta praesentium, odit perferendis labore. Eveniet, dolores vitae. Distinctio neque aliquid commodi.</p>
    <a href="{% url 'home123' %}">Previous Page</a>
</body>
</html>