<fieldset>
            
    <br/>
    <input type="text" name="username" placeholder="Username" required autofocus name="username">
    <br/><br/>
    <input type="email" name="email" placeholder="E-mail" required name="email">
    <br/><br/>
    <input type="password" placeholder="Password" required name="password">
    <br/><br/>
    <input type="password" placeholder="Confirm Password" required name="confirm">
    <br/> <br/> <br/>
    <label for="submit"></label>
    <input type="submit" value="submit">
 </fieldset>