<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Products</h1>
     
    <ul class="product-list">
        {% for i in p %}
            <li class="product-item">
                <h2>{{ product.name }}</h2>
                <p>{{ product.description }}</p>
                <a href="#" class="buy-now-button">Buy Now</a>
                <a class="buy-now-button" href="{% url 'cart:add_to_cart' product.id %}">Add to Cart</a>
 
            </li>
        {% endfor %}
    </ul>
</body>
</html>