{% extends "base.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block content %}
    <h3>reset password</h3>
    <p>Forgetten your password?
        Enter your Email address below, and We will Email instructions for setting a new one 
    </p>
    <form action="" method="post">
        {% csrf_token %}
        email:<input type="text" name="email">
        <input type="submit" value="send">
    </form>
    {% endblock %}
</body>
</html>